.container {
    display: flex;
    gap: 1.5em;
    flex-direction: column;

    margin: unset;
    padding: unset;

    box-sizing: border-box;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 1.5em;
    row-gap: 2em;
    
    width: 100%;
    margin: unset;
    /* padding: unset; */

    box-sizing: border-box;
    transition: var(--common-transition);
}
