.container {
	box-sizing: border-box;
	width: 100%;

	display: flex;
	gap: 1em;

	background: var(--background);
}

.title {
	display: flex;
	align-items: center;
	flex-grow: 10;
}

.price {
	width: max-content;
	display: flex;
	align-items: center;
}