.scrollable::-webkit-scrollbar {
    width: var(--scrollable-width);
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #00000000;
}

.scrollable::-webkit-scrollbar-track:hover {
    background-color: var(--background-element);
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--text-inactive-color);
}