.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;

    margin: unset;
    padding: unset;

    overflow-y:scroll;
    overflow-x: hidden;
}

.total {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.total > svg {
    width: 36px;
    height: 36px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}
