.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
}

.content {
    box-sizing: border-box;
    width: 100%;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1em;

    overflow: hidden;
}

.content > * {
    padding: 0 1em;
}

.draggable {
    box-sizing: border-box;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    overflow-y:scroll;
    overflow-x: hidden;
}

.draggable > * {
    padding: 1em 0 0;
}

.draggable :first-child {
    padding: 0;
}

.total {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.total > svg {
    width: 36px;
    height: 36px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
	padding-bottom: 3.25em;
}
