.backdrop {
    --appear-duration: 0.1s;

    visibility: hidden;
    position: absolute;
    z-index: 1000;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-backdrop);
    
    transition:
        opacity var(--appear-duration) ease-in-out,
        visibility var(--appear-duration) ease-in-out;
    opacity: 0;
}

.backdrop_hidden {
    visibility: visible;
    opacity: 1;
}
