body {
    margin: unset;
    padding: unset;

    display: flex;
    justify-content: center;
}

#root {
    max-width: 1280px;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

ul, li {
    margin: unset;
    padding: unset;
}
