:root {
    --background-backdrop: #0000009a;
    --text-glow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.50);
}

body {
    margin: unset;
    padding: unset;

    display: flex;
    justify-content: center;
}

#root {
    max-width: 1280px;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

ul, li {
    margin: unset;
    padding: unset;
}
